<app-header></app-header>

<div class="container">
    <div class="header b-row">
        <div class="left">
            <h3>Groups</h3>
        </div>
        <div class="right">
            <button class="btn" (click)="changePopup('addGroup',null)">
                <span>Add Group</span>
            </button>
        </div>
    </div>
    <div class="box rslt-box m-b-t-40">
        <div class="result-table">
            <table>
                <thead>
                    <tr>
                        <th (click)="sort('shortTitle')">
                            <span>Short Title</span>
                            <i *ngIf="data != ''" class="fa" [ngClass]="{'fa-sort': column != 'shortTitle', 
                      'fa-sort-asc': (column == 'shortTitle' && !isDesc), 
                      'fa-sort-desc': (column == 'shortTitle' && isDesc) }" aria-hidden="true"> </i>
                        </th>
                        <th (click)="sort('title')">
                            <span>Title</span>
                            <i *ngIf="resultData != ''" class="fa" [ngClass]="{'fa-sort': column != 'title', 
                      'fa-sort-asc': (column == 'title' && !isDesc), 
                      'fa-sort-desc': (column == 'title' && isDesc) }" aria-hidden="true"> </i>
                        </th>
                        <th (click)="sort('wifi')">
                            <span>Wifi</span>
                            <i *ngIf="resultData != ''" class="fa" [ngClass]="{'fa-sort': column != 'wifi', 
                      'fa-sort-asc': (column == 'wifi' && !isDesc), 
                      'fa-sort-desc': (column == 'wifi' && isDesc) }" aria-hidden="true"> </i>
                        </th>
                        <th (click)="sort('groupCost')">
                            <span>Group Cost</span>
                            <i *ngIf="resultData != ''" class="fa" [ngClass]="{'fa-sort': column != 'groupCost', 
                      'fa-sort-asc': (column == 'groupCost' && !isDesc), 
                      'fa-sort-desc': (column == 'groupCost' && isDesc) }" aria-hidden="true"> </i>
                        </th>
                        <th (click)="sort('sumCost')">
                            <span>Sum Cost</span>
                            <i *ngIf="resultData != ''" class="fa" [ngClass]="{'fa-sort': column != 'sumCost', 
                      'fa-sort-asc': (column == 'sumCost' && !isDesc), 
                      'fa-sort-desc': (column == 'sumCost' && isDesc) }" aria-hidden="true"> </i>
                        </th>
                        <th (click)="sort('amountSensors')">
                            <span>Amount Sensor</span>
                            <i *ngIf="resultData != ''" class="fa" [ngClass]="{'fa-sort': column != 'amountSensors', 
                      'fa-sort-asc': (column == 'amountSensors' && !isDesc), 
                      'fa-sort-desc': (column == 'amountSensors' && isDesc) }" aria-hidden="true"> </i>
                        </th>
                    </tr>
                </thead>
                <tbody class="loading" *ngIf="data.length == 0">
                    <tr>
                        <td colspan="6">
                            <div *ngIf="!unforseenError">
                                <div class="loading-circle">
                                    <div class="half-circle"></div>
                                </div>
                                <div class="loading-text">{{randomLoadingString}}</div>
                            </div>
                            <div *ngIf="unforseenError" class="getarcherror">
                                {{getArchError}}
                                <button class="btn" (click)="retryApiCall();">Retry</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="data.length != 0">
                    <ng-template ngFor let-singleResult [ngForOf]="data" let-i="index">
                        <tr (click)="activateRowDetails(i); " [ngClass]="{'active' : activeDetailedRow[i] == true}">
                            <td>{{singleResult.shortTitle}}</td>
                            <td>{{singleResult.title}}</td>
                            <td>{{singleResult.wifi}}</td>
                            <td>{{singleResult.groupCost}}</td>
                            <td>{{singleResult.sumCost}}</td>
                            <td>{{singleResult.amountSensors}}</td>
                        </tr>
                        <tr *ngIf="activeDetailedRow[i] == true">
                            <td colspan="6" class="data-td">
                                <div class="close icon" (click)="activeDetailedRow[i] = false">
                                    <svg id="Layer_1" height="512px" version="1.1" viewBox="0 0 512 512" width="512px"
                                        space="preserve" xmlns="http://www.w3.org/2000/svg"
                                        xlink="http://www.w3.org/1999/xlink">
                                        <path
                                            d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="data-title">
                                    <h3>{{singleResult.title}}</h3>
                                    <div class="add-button">
                                        <button class="btn btn-primary"
                                            (click)="changePopup('addGroup',singleResult._id)">
                                            <span>Add Group</span>
                                        </button> <button class="btn btn-primary"
                                            (click)="changePopup('addSensor',singleResult._id)">
                                            <span>Add Sensor</span>
                                        </button>
                                    </div>
                                </div>
                                <table class="sub-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span>Mac</span>
                                            </th>
                                            <th>
                                                <span>Title</span>
                                            </th>
                                            <th>
                                                <span>Assignment</span>
                                            </th>
                                            <th>
                                                <span>Version</span>
                                            </th>
                                            <th>
                                                <span>Shipped</span>
                                            </th>
                                            <th>
                                                <span>Installed</span>
                                            </th>
                                            <th>
                                                <span>Sensor Cost</span>
                                            </th>
                                            <th>
                                                <span>Last Seen</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let sensor of singleResult.sensors">
                                            <td *ngIf="sensor.mac">
                                                <span>{{sensor.mac}}</span>
                                            </td>
                                            <td *ngIf="sensor.title">
                                                <span>{{sensor.title}}</span>
                                            </td>
                                            <td *ngIf="sensor.assignment">
                                                <span>{{sensor.assignment}}</span>
                                            </td>
                                            <td *ngIf="sensor.version">
                                                <span>{{sensor.version}}</span>
                                            </td>
                                            <td *ngIf="sensor.shipped">
                                                <span>{{sensor.shipped}}</span>
                                            </td>
                                            <td *ngIf="sensor.installed">
                                                <span>{{sensor.installed}}</span>
                                            </td>
                                            <td *ngIf="sensor.sensor_cost">
                                                <span>{{sensor.sensor_cost}}</span>
                                            </td>
                                            <td *ngIf="sensor.last_seen">
                                                <span>{{sensor.last_seen}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="popup-container" [ngClass]="{active: popupActive.addGroup}">
    <div class="popup">
        <div class="close" (click)="changePopup('addGroup')">&times;</div>
        <div class="popup-heading">
            <h1>Add Group</h1>
        </div>
        <div class="form">
            <form [formGroup]="groupform">
                <div class="input-group">
                    <div class="input">
                        <input type="text" formControlName="shortTitle" placeholder="Group short title">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input">
                        <input type="text" formControlName="title" placeholder="Group title">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input">
                        <input type="text" formControlName="wifi" placeholder="Wifi credentials">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input">
                        <input type="text" formControlName="groupCost" placeholder="Group Cost">
                    </div>
                </div>
                <input type="text" formControlName="parentGroup" class="hidden">
            </form>
        </div>
        <div class="popup-footer">
            <div class="actions end">
                <button class="btn">
                    <span>Cancle</span>
                </button>
                <button class="btn btn-primary" (click)="addGroup();">
                    <span>Add</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="popup-container" [ngClass]="{active: popupActive.addSensor}">
    <div class="popup">
        <div class="close" (click)="changePopup('addSensor')">&times;</div>
        <div class="popup-heading">
            <h1>Add Sensor</h1>
        </div>
        <div class="form">
            <form [formGroup]="sensorform">
                <div class="input-group">
                    <div class="input">
                        <input type="text" formControlName="mac" placeholder="Mac">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input">
                        <input type="text" formControlName="title" placeholder="Sensor title">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input">
                        <input type="text" formControlName="assignment" placeholder="Assignment">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input">
                        <input type="text" formControlName="version" placeholder="Version">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input">
                        <input type="date" formControlName="shipped" placeholder="Shipping date">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input">
                        <input type="date" formControlName="installed" placeholder="Installation date">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input">
                        <input type="text" formControlName="sensorCost" placeholder="Sensor Cost">
                    </div>
                </div>
            </form>
        </div>
        <div class="popup-footer">
            <div class="actions end">
                <button class="btn">
                    <span>Cancle</span>
                </button>
                <button class="btn btn-primary" (click)="addSensor();">
                    <span>Add</span>
                </button>
            </div>
        </div>
    </div>
</div>