/* You can add global styles to this file, and also import other style files */
$brand_color: #6f79fd;
$heading_color: #3b3449;

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(45deg);
    }

    30% {
        transform: rotate(90deg);
    }

    55% {
        transform: rotate(180deg);
    }

    70% {
        transform: rotate(240deg);
    }

    85% {
        transform: rotate(290deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: top;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

img {
    height: auto;
    width: 100%;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
    position: relative;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #6577ff;

    &:hover {
        color: #3f51b5;
    }
}

.box {
    width: 100%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0782948);
    border-radius: 16px;
    margin: 0 auto;

    &.m-b-t-40 {
        margin: 40px auto;
    }

    &.lgn-box {
        padding: 40px;
        max-width: 560px;
    }

    &.rslt-box {}
}

.title {
    padding-bottom: 10px;
    text-align: center;

    &.lgn-title {
        font-size: 28px;

        h3 {
            font-weight: 500;
        }
    }
}

.b-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    h3 {
        font-size: 22px;
        font-weight: normal;
    }
}

button {
    cursor: pointer;

    &.btn {
        padding: 10px 20px;
        border: none;
        background: #f1f1f1;
        border-radius: 3px;
        font-size: 14px;
    }

    &.btn-primary {
        background: $brand_color;
        color: #fff;
    }

    &.btn-danger {
        background: #ff6d6d;
        color: #fff;
    }

    &.sm-btn {

        padding: 5px 10px;
        font-size: 12px;
        letter-spacing: 0.2px;
    }
}


.popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;

    align-items: flex-start;
    justify-content: center;
    z-index: 12;
    overflow: auto;

    &.active {
        display: flex;
    }

    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 100%;
        position: relative;
        transition: all 5s ease-in-out;
        max-width: 480px;

        @media screen and (max-width: 767px) {
            margin: 0;
            height: 100vh;
            width: 100vw;
            border-radius: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .popup-heading {
            margin-bottom: 20px;

            h1 {
                font-size: 20px;
            }
        }

        .close {
            position: absolute;
            top: 0px;
            right: 10px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
            cursor: pointer;
            background: none;
            border: none;

            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        .message {
            margin-bottom: 20px;
            font-size: 20px;
            text-align: center;
        }

        .actions {
            @media screen and (max-width: 1199px) {
                display: flex;
            }

            .btn {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }

        .content {
            max-height: 30%;
            // overflow: auto;
        }
    }
}

.input-group {
    width: 100%;
    margin-bottom: 20px;

    .input {
        width: 100%;

        input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #e4e4e4;
            font-size: 14px;
        }
    }
}

input {
    &.hidden {
        visibility: hidden;
        height: 0px;
        width: 0px;
        margin: 0px;
        display: none;
    }
}

.actions {

    display: flex;
    align-items: center;

    &.end {
        justify-content: flex-end;
    }
}

.controlMessage {
    div {
        font-size: 12px;
        margin-top: 2px;
        color: red;
    }
}