/* You can add global styles to this file, and also import other style files */
$brand_color: #6f79fd;
$heading_color: #3b3449;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: top;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

img {
    height: auto;
    width: 100%;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
    position: relative;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #6577ff;

    &:hover {
        color: #3f51b5;
    }
}

.box {
    width: 100%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.0782948);
    border-radius: 16px;
    margin: 0 auto;

    &.m-b-t-40 {
        margin: 40px auto;
    }

    &.lgn-box {
        padding: 40px;
        max-width: 560px;
    }

    &.rslt-box {
        max-width: 80%;
    }
}

.title {
    padding-bottom: 10px;
    text-align: center;

    &.lgn-title {
        font-size: 28px;

        h3 {
            font-weight: 500;
        }
    }
}